@font-face {
    font-family: 'Kodchasan-Bold';
    src: url(/assets/fonts/Kodchasan-Bold.ttf);
}

@font-face {
    font-family: 'Kodchasan-BoldItalic';
    src: url(/assets/fonts/Kodchasan-BoldItalic.ttf);
}

@font-face {
    font-family: 'Kodchasan-Italic';
    src: url(/assets/fonts/Kodchasan-Italic.ttf);
}

@font-face {
    font-family: 'Kodchasan-Regular';
    src: url(/assets/fonts/Kodchasan-Regular.ttf);
}

@font-face {
    font-family: 'Kodchasan-SemiBold';
    src: url(/assets/fonts/Kodchasan-SemiBold.ttf);
}

:root {
    --color_principal: #D99D7B;
    --color_blanco: #FFFFFF;
    --color_negro: #000000;
    --font_kodchasan-Bold: 'Kodchasan-Bold';
    --font_Kodchasan-BoldItalic: 'Kodchasan-BoldItalic';
    --font_Kodchasan-Italic: 'Kodchasan-Italic';
    --font_Kodchasan-Regular: 'Kodchasan-Regular';
    --font_Kodchasan-SemiBold: 'Kodchasan-SemiBold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header h1 {
    font-family: var(--font_kodchasan-Bold);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 3px;
}

.container_logo {
    width: 75px;
}

.titulo {
    font-size: 20px;
    text-align: center;
}

.container_barra {
    width: 30px;
}

.icon_barra {
    width: 100%;
}

.img_logo {
    width: 100%;
}

/* estilos nav movil */
.nav_movil {
    background-color: rgb(243, 243, 243);
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* cerrar y abrir nav */
.cerrar_nav_movil {
    left: 100%;
    animation: moverDerecha 1s forwards;
}

@keyframes moverDerecha {
    from {
        left: 0%;
    }
    to {
        left: 100%;
        display: none;
    }
}

.abrir_nav_movil {
    animation: visibilizar_nav_movil 1s forwards;
}

@keyframes visibilizar_nav_movil {
    from {
        left: 100%;
        display: none;
        opacity: 0;
    } to {
        left: 0;
        display: flex;
        opacity: 1;
    }
}
/* ------------------ */

.icon_cerrar_nav_movil {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.container_header_nav_movil {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.logo_nav_movil {
    width: 100px;
}

.titulo_nav_movil {
    font-family: var(--font_Kodchasan-Regular);
    font-size: 23px;
}

.links_nav_movil {
    font-family: var(--font_kodchasan-Bold);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    gap: 20px;
}

.link_movil {
    text-decoration: none;
    color: var(--color_negro);
}

.footer_nav_movil {
    display: flex;
    align-items: start;
    width: 270px;
    justify-content: space-between;
}

.icon_redes_nav_movil {
    width: 30px;
}

.icon_bandera_nav_movil {
    width: 25px;
}

.icon_flecha_abajo_nav_movil {
    width: 15px;
}

.container_language_nav_movil {
    font-family: var(--font_kodchasan-Bold);
    position: relative;
}

.selected_lang_movil, .selected_option_lenguage_movil {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lenguage_combo_movil {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.language_nav_movil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lenguage_combo_movil {
    list-style: none;
    position: absolute;
    bottom: 100%;
    width: 100%;
    margin-bottom: 7px;
}

.cerrar_lenguage_movil {
    bottom: 100%;
    animation: close_combo_lenguage 1s forwards;
}

@keyframes close_combo_lenguage {
    from {
        bottom: 100%;
    } to {
        bottom: 0;
        visibility: hidden;
        opacity: 0;
    }
}

.open_lenguage_movil {
    bottom: 0;
    animation: open_combo_language 1s forwards;
}

@keyframes open_combo_language {
    from {
        bottom: 0;
        opacity: 0;
    } to {
        bottom: 100%;
        opacity: 1;
        visibility: visible;
    }
}
/* ------------- */
.container_banner {
    position: relative;
    height: 150px;
}

.img_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.back_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color_principal);
    opacity: .85;
    z-index: -1;
}

.container_title_button_banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 20px;
}

.title_banner {
    color: var(--color_blanco);
    font-family: var(--font_Kodchasan-Regular);
    text-align: center;
    font-size: 20px;
}

.button_banner_donar {
    background-color: transparent;
    border: 1px solid var(--color_blanco);
    color: var(--color_blanco);
    padding: 3px 35px;
    font-family: var(--font_Kodchasan-Italic);
    border-radius: 15px;
    font-size: 13px;
    transition: .5s;
    &:hover {
        background-color: var(--color_blanco);
        color: var(--color_principal);
    }
}

.container_quienes_somos {
    margin: 15px 10px;
}

.title_quienes_somos {
    font-family: var(--font_Kodchasan-SemiBold);
    text-align: center;
    font-size: 20px;
}

.line_title {
    background-color: var(--color_principal);
    width: 35px;
    height: 3px;
    margin: 5px auto 15px auto;
}

.paragraph_quienes_somos {
    font-family: var(--font_Kodchasan-Regular);
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}

.container_text_biblical {
    font-family: var(--font_Kodchasan-Regular);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--color_principal);
    padding: 10px;
    border-radius: 10px;
}

.container_book_biblical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.book_biblical {
    font-family: var(--font_Kodchasan-Italic);
}

.bg_book_biblical {
    width: 30px;
    height: 1px;
    background-color: var(--color_principal);
}

.misioneros_inicio {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
/* cards misioneros */
.container_card_misioneros {
    width: 240px;
}

.container_img_nacionalidad {
    position: relative;
    height: 330px;
}

.perfil_misionero {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    border-radius: 7px;
    z-index: -1;
}

.nacionalidad {
    background-color: var(--color_principal);
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 2px 25px;
}

.nacion {
    font-family: var(--font_Kodchasan-Regular);
    color: var(--color_blanco);
    font-size: 13px;
}

.logo_nacion {
    width: 15px;
}

.container_nombre_cargo_misionero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 0;
    font-family: var(--font_Kodchasan-Regular);
}

.nombre_misionero {
    font-size: 14px;
}

.cargo_misionero {
    font-size: 13px;
    color: var(--color_principal);
}
/* fin cards misioneros */