.header_index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid var(--color_bordes);
}

.cont_logo_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 30px;
}

.title {
    font-family: var(--font_play);
    font-size: 20px;
    margin-top: -5px;
}

.icon_barra_menu {
    width: 15px;
}

.cambiar_icon {
    display: none;
}

.nav_desktop {
    display: none;
}

/* NAV MOVIL */
.nav_movil {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid var(--color_bordes);
    position: absolute;
    top: -600%;
    background-color: var(--color_blanco);
}

.abrir_nav_movil {
    top: 100%;
    animation: abrir_nav_movil .7s ease-in-out;
}

@keyframes abrir_nav_movil {
    0% {
        top: -600%;
    } 100% {
        top: 100%;
    }
}

.cerrar_nav_movil {
    top: -600%;
    animation: cerrar_nav_movil .7s ease-in-out;
}

@keyframes cerrar_nav_movil {
    0% {
        top: 100%;
    } 100% {
        top: -600%;
    }
}

.nav_opciones {
    list-style: none;
    font-family: var(--font_inter);
    display: flex;
    flex-direction: column;
}

.option_nav {
    padding: 10px;
}

.option_nav_link {
    text-decoration: none;
    color: var(--color_gris_medio);
    font-weight: 500;
}

.option_nav_language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_nav_selected {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border-radius: 6px;
}

.icon_language {
    width: 21px;
}

.cont_view_combo_language {
    border: 1px solid var(--color_bordes);
    display: inline-block;
    width: 80px;
    padding: 6px 12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont_view_combo_language span {
    font-size: 13px;
}

.icon_arrow_bottom {
    width: 11px;
}

.combo_select_language {
    position: relative;
}

.cont_options_combo_language {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: var(--color_blanco);
    position: absolute;
    width: 150%;
    border: 1px solid var(--color_bordes);
    border-radius: 6px;
    visibility: hidden;
    height: 0;
}

.abrir_combo_language {
    height: 74px;
    visibility: visible;
    animation: abrir_combo_language .1s ease-in-out;
}

@keyframes abrir_combo_language {
    0% {
        visibility: hidden;
        height: 0;
    } 100% {
        height: 74px;
        visibility: visible;
    }
}

.option_combo_language {
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color_gris_medio);
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: var(--color_principal);
        color: var(--color_blanco);
        border-radius: 6px;
    }
}

.option_language_selected {
    width: 12px;
}
/* ----- */
.cont_banner {
    background: var(--color_fondo_banner);
    background: linear-gradient(134deg,rgba(255, 243, 237, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 243, 237, 1) 100%);
}

.cont_banner_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner_button {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    border-radius: 6px;
    margin: auto;
    font-family: var(--font_inter);
    font-weight: 500;
}

.banner_button_misiones {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border: 1px solid var(--color_principal);
}

.banner_button_video {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
}

.banner_button img {
    width: 13px;
}

/* section banner 1*/
.cont_banner {
    padding: 80px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cont_banner_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont_banner_title {
    font-family: var(--font_play);
    font-size: 38px;
    line-height: 45px;
}

.cont_banner_title span {
    color: var(--color_principal);
}

.cont_banner_paragraph {
    color: var(--color_gris_medio);
    font-family: var(--font_inter);
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 29px;
    margin-bottom: 20px;
}
/* fin section banner */
/* section banner 2 */
.cont_banner_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 16px;
}

.cont_numbers_data {
    width: 135px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numbers_data {
    font-weight: bold;
    font-family: var(--font_inter);
    color: var(--color_principal);
    font-size: 23px;
}

.name_data {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
}
/* fin section banner 2 */
/* section banner 3 */
.cont_aside_card {
    background-color: var(--color_blanco);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.44);
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top_aside {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_aside {
    width: 35px;
}

.title_aside {
    font-family: var(--font_play);
    font-size: 20px;
}

.title_complete_aside {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-weight: 400;
    font-size: 14px;
}

.text_biblical_aside {
    font-family: var(--font_inter);
    font-style: normal;
    color: var(--color_gris_medio);
    font-size: 17px;
    line-height: 24px;
}

.name_text_biblical_aside {
    font-family: var(--font_inter);
    font-size: 14px;
    text-align: end;
}
/* fin section banner 3 */