.header_index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: var(--color_blanco);
    padding: 20px 0;
    border-bottom: 1px solid var(--color_bordes);
    z-index: 100;
}

.cont_logo_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 30px;
}

.title {
    font-family: var(--font_play);
    font-size: 20px;
    margin-top: -5px;
}

.icon_barra_menu {
    width: 15px;
}

.cambiar_icon {
    display: none;
}

.nav_desktop {
    display: none;
}

/* NAV MOVIL */
.nav_movil {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid var(--color_bordes);
    position: absolute;
    top: -600%;
    background-color: var(--color_blanco);
}

.abrir_nav_movil {
    top: 100%;
    animation: abrir_nav_movil .7s ease-in-out;
}

@keyframes abrir_nav_movil {
    0% {
        top: -600%;
    } 100% {
        top: 100%;
    }
}

.cerrar_nav_movil {
    top: -600%;
    animation: cerrar_nav_movil .7s ease-in-out;
}

@keyframes cerrar_nav_movil {
    0% {
        top: 100%;
    } 100% {
        top: -600%;
    }
}

.nav_opciones {
    list-style: none;
    font-family: var(--font_inter);
    display: flex;
    flex-direction: column;
}

.option_nav {
    padding: 10px;
}

.option_nav_link {
    text-decoration: none;
    color: var(--color_gris_medio);
    font-weight: 500;
}

.option_nav_language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_nav_selected {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border-radius: 6px;
}

.icon_language {
    width: 21px;
}

.cont_view_combo_language {
    border: 1px solid var(--color_bordes);
    display: inline-block;
    width: 80px;
    padding: 6px 12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont_view_combo_language span {
    font-size: 13px;
}

.icon_arrow_bottom {
    width: 11px;
}

.combo_select_language {
    position: relative;
}

.cont_options_combo_language {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: var(--color_blanco);
    position: absolute;
    width: 150%;
    border: 1px solid var(--color_bordes);
    border-radius: 6px;
    visibility: hidden;
    height: 0;
}

.abrir_combo_language {
    height: 74px;
    visibility: visible;
    animation: abrir_combo_language .1s ease-in-out;
}

@keyframes abrir_combo_language {
    0% {
        visibility: hidden;
        height: 0;
    } 100% {
        height: 74px;
        visibility: visible;
    }
}

.option_combo_language {
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color_gris_medio);
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: var(--color_principal);
        color: var(--color_blanco);
        border-radius: 6px;
    }
}

.option_language_selected {
    width: 12px;
}
/* ----- */
.cont_banner {
    background: var(--color_fondo_banner);
    background: linear-gradient(134deg,rgba(255, 243, 237, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 243, 237, 1) 100%);
}

.cont_banner_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    border-radius: 6px;
    margin: auto;
    font-family: var(--font_inter);
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.banner_button_misiones {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border: 1px solid var(--color_principal);
}

.banner_button_video {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
}

.banner_button img {
    width: 13px;
}

/* section banner 1*/
.cont_banner {
    padding: 150px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cont_banner_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont_banner_title {
    font-family: var(--font_play);
    font-size: 38px;
    line-height: 45px;
}

.cont_banner_title span {
    color: var(--color_principal);
}

.cont_banner_paragraph {
    color: var(--color_gris_medio);
    font-family: var(--font_inter);
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 29px;
    margin-bottom: 20px;
}
/* fin section banner */
/* section banner 2 */
.cont_banner_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 16px;
}

.cont_numbers_data {
    width: 135px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numbers_data {
    font-weight: bold;
    font-family: var(--font_inter);
    color: var(--color_principal);
    font-size: 23px;
}

.name_data {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
}
/* fin section banner 2 */
/* section banner 3 */
.cont_aside_card {
    background-color: var(--color_blanco);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.44);
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top_aside {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_aside {
    width: 35px;
}

.title_aside {
    font-family: var(--font_play);
    font-size: 20px;
}

.title_complete_aside {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-weight: 400;
    font-size: 14px;
}

.text_biblical_aside {
    font-family: var(--font_inter);
    font-style: normal;
    color: var(--color_gris_medio);
    font-size: 17px;
    line-height: 24px;
}

.name_text_biblical_aside {
    font-family: var(--font_inter);
    font-size: 14px;
    text-align: end;
}
/* fin section banner 3 */
/* Cont servimos */
.cont_service {
    background-color: var(--color_claro);
    padding: 50px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title_service {
    font-family: var(--font_play);
    font-size: 30px;
    text-align: center;
}

.paragraph_service { 
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    line-height: 25px;
}

.cont_service_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.service_card {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    gap: 20px;
}

.cont_sc_icon {
    background-color: var(--color_fondo_icons);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon_sc {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.icon_sc_corazon {
    margin-top: 3px;
}

.title_sc {
    font-family: var(--font_play);
    font-size: 19px;
}

.paragraph_sc {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    line-height: 25px;
}
/* fin cont servimos */
/* cont unete */
.cont_unete {
    padding: 60px 15px;
}

.conta_card_unete {
    background-color: var(--color_fondo_banner);
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title_card_unete {
    font-family: var(--font_play);
    font-size: 30px;
    text-align: center;
}

.paragraph_card_unete {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}

.cont_buttons_card_unete {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button_card_unete {
    text-decoration: none;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-family: var(--font_inter);
    font-size: 14px;
    font-weight: 500;
}

.button_card_unete_1 {
    background-color: var(--color_principal);
    color: var(--color_blanco);
}

.button_card_unete_2 {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
    color: var(--color_fondo_oscuro);
}
/* fin cont unete */
/* cont misiones */
.cont_misiones {
    background-color: var(--color_claro);
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cont_misiones_title_par {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_misiones {
    font-family: var(--font_play);
    font-size: 32px;
    text-align: center;
}

.paragraph_misiones {
    font-family: var(--font_inter);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px;
    color: var(--color_gris_medio);
}

.cont_cards_misiones {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card_misiones {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    border: 1px solid var(--color_bordes);
    border-radius: 8px;
}

.cont_data_misiones {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title_data_misiones {
    font-family: var(--font_play);
    font-size: 19px;
}

.paragraph_data_misiones {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}

.link_data_misiones {
    text-decoration: none;
    font-family: var(--font_inter);
    color: var(--color_fondo_oscuro);
    border: 2px solid var(--color_bordes);
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    border-radius: 7px;
}

.cont_img_misiones {
    height: 180px;
}

.img_misiones {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.button_misiones_todo {
    background-color: var(--color_principal);
    text-decoration: none;
    color: var(--color_blanco);
    font-family: var(--font_inter);
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    padding: 12px;
    margin: auto;
    border-radius: 8px;
    gap: 15px;
    font-weight: 500;
}

.icon_flecha_ver_misiones {
    width: 13px;
}
/* fin cont misiones */
/* footer */
.line_separador {
    width: 100%;
    height: 1px;
    background-color: var(--color_bordes);
}

.footer {
    background-color: var(--color_claro);
    padding: 50px 15px 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cont_footer_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_logo_name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_footer {
    width: 35px;
}

.name_footer {
    font-family: var(--font_play);
    margin-top: -5px;
    font-size: 20px;
}

.paragraph_footer, .paragraph_footer_5 {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 20px;
}

.cont_footer_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title_footer_2, .title_footer_3, .title_footer_4, .title_footer_5 {
    font-family: var(--font_play);
    font-size: 17px;
}

.list_options_footer_2 {
    list-style: none;
    font-family: var(--font_inter);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option_footer_2 {
    color: var(--color_gris_medio);
    text-decoration: none;
}

.cont_footer_3, .cont_footer_4, .cont_fotter_5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email_footer_3 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo_email_footer {
    width: 17px;
}

.direction_email_footer_3 {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-decoration: none;
    font-size: 14px;
}

.email_footer_4 {
    display: flex;
    align-items: center;
    gap: 2px;
}

.icon_face_4, .icon_inst_4 {
    width: 17px;
}

.icon_inst_4_yt {
    width: 21px;
    margin-left: 8px;
    margin-top: 4px;
}

.footer_derechos {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.footer_6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_hecho {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    display: inline-block;
    margin: auto;
}

.icon_corazon_footer {
    width: 15px;
}
/* fin footer */

.cont_anuncio_proxima_mision {
    background-color: var(--color_fondo_banner2);
    padding: 48px 16px;
}

.back_anuncio_proxima_mision {
    background-color: var(--color_blanco);
    padding: 32px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -1px 7px 14px -7px rgba(0,0,0,0.52);
}

.cont_fecha_proximamente {
    display: flex;
    align-items: center;
    gap: 5px;
}

.proximamente_anuncio {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    font-family: var(--font_inter);
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 8px;
    text-align: center;
}

.fecha_mision {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 500;
    font-family: var(--font_inter);
    text-align: center;
}

.title_proxima_mision {
    font-family: var(--font_play);
    font-size: 30px;
    line-height: 36px;
}

.cont_pais_participantes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cont_pais_proxima_mision, .cont_participantes_proxima_mision {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon_ubbicacion_proxima_mision, .icon_usuarios_proxima_mision, .icon_impacto {
    width: 20px;
}

.nombre_pais_proxima_mision, .cantidad_participantes_proxima_mision {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 18px;
}

.paragraph_proxima_mision {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 18px;
    line-height: 28px;
}

.cont_meta_impacto_proxima_mision {
    background-color: var(--color_fondo_banner2);
    border: 1px solid var(--color_bordes);
    border-radius: 8px;
    padding: 16px;
}

.cont_icon_title_meta_impacto {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.title_meta_impacto {
    font-family: var(--font_play);
    font-size: 16px;
    font-weight: 600;
}

.paragraph_meta_impacto {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 16px;
    line-height: 25px;
}

.cont_botones_meta_impacto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.boton_meta_impacto {
    width: 100%;
    border: 1px solid var(--color_bordes);
    text-decoration: none;
    padding: 13px;
    text-align: center;
    border-radius: 10px;
    font-family: var(--font_inter);
    font-size: 14px;
}

.boton_meta_impacto_aplicar {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    font-weight: 550;
}

.boton_meta_impacto_detalles {
    background-color: var(--color_blanco);
    color: black;
    font-weight: 550;
}

/* RESPONSIVE DESIGN */
@media (min-width: 380px) {
    .header_index {
        justify-content: space-between;
        /* padding-left: 20px;
        padding-right: 20px; */
    }

    .cont_logo_title {
        margin-left: 20px;
    }

    .icon_barra_menu {
        margin-right: 20px;
    }
}

@media (min-width: 450px) {
    .cont_fecha_proximamente {
        gap: 15px;
    }

    .proximamente_anuncio {
        padding: 7px 18px;
        border-radius: 40px;
    }

    .fecha_mision {
        padding: 7px 18px;
        border-radius: 40px;
    }
}

@media (min-width: 420px) {
    .cont_banner_2 {
        column-gap: 60px;
        margin: 25px 0 20px 0;
    }

    .cont_data_misiones {
        padding-right: 40px;
    }
}

@media (min-width: 450px) {
    .cont_banner_2 {
        column-gap: 80px;
    }

    .cont_data_misiones {
        padding-right: 20px;
    }
}

@media (min-width: 480px) {
    .cont_banner_2 {
        column-gap: 100px;
    }

    .paragraph_service {
        font-size: 17px;
    }

    .cont_pais_participantes {
        flex-direction: row;
    }
}

@media (min-width: 640px) {
    .cont_banner_buttons {
        flex-direction: row;
        gap: 15px;
    }

    .banner_button {
        margin: 0;
    }

    .banner_button_misiones {
        width: 240px;
    }

    .banner_button_video {
        width: 160px;
    }

    .cont_numbers_data {
        width: 200px;
    }

    .cont_buttons_card_unete {
        flex-direction: row;
    }

    .button_card_unete {
        width: 50%;
    }

    .cont_banner_paragraph {
        width: 520px;
    }

    .cont_botones_meta_impacto {
        flex-direction: row;
    }

    .boton_meta_impacto {
        width: auto;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 700px) {
    .title_sc {
        font-size: 20px;
    }

    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 768px) {
    .nav_movil, .cont_icon_menu_movil {
        display: none;
    }

    .nav_desktop {
        display: inline-block;
    }

    .list_nav_desktop {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .option_nav {
        text-align: center;
    }

    .option_nav_link, .option_nav {
        font-family: var(--font_inter);
    }

    .cont_logo_title {
        gap: 15px;
    }

    .cont_options_combo_language_d {
        width: 100%;
    }

    .option_combo_language_d_select {
        background-color: var(--color_principal);
        color: var(--color_blanco);
    }

    .cont_banner_title {
        font-size: 60px;
        line-height: normal;
    }

    .cont_banner_paragraph {
        margin-top: -10px;
    }

    .cont_banner_2 {
        flex-wrap: nowrap;
        justify-content: space-around;
        column-gap: normal;
        gap: 10px;
    }

    .numbers_data {
        font-size: 30px;
    }

    .cont_service_cards {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .service_card {
        padding: 25px 20px;
        width: 33%;
    }

    .banner_button {
        font-size: 14px;
    }

    .title_sc {
        text-align: center;
    }

    .title_service, .title_card_unete, .title_misiones {
        font-size: 36px;
    }

    .paragraph_service {
        font-size: 16px;
    }

    .cont_cards_misiones {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card_misiones {
        width: 344px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .cont_footer_1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .cont_footer_2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .cont_footer_3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .cont_footer_4 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .cont_fotter_5 {
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .line_separador {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .footer_6 {
        grid-column: 1/5;
        grid-row: 4/5;
        flex-direction: row;
    }

    .footer_hecho {
        margin-right: 0;
    }

    .option_nav_link {
        font-size: 14px;
    }

    .title {
        font-size: 24px;
    }
}

@media (min-width: 800px) {
    .cont_buttons_card_unete {
        justify-content: center;
    }

    .button_card_unete {
        width: 256px;
    }

    .cont_cards_misiones {
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media (min-width: 850px) {
    .cont_cards_misiones {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .card_misiones {
        width: 383px;
    }

    .back_anuncio_proxima_mision {
        padding: 48px;
    }

    .title_proxima_mision {
        font-size: 36px;
    }
}

@media (min-width: 850px) {
    .card_misiones {
        width: 398px;
    }
}

@media (min-width: 900px) {
    .card_misiones {
        width: 408px;
    }
}

@media (min-width: 950px) {
    .paragraph_service {
        width: 672px;
        margin: auto;
    }

    .paragraph_card_unete {
        width: 672px;
        margin: auto;
    }

    .card_misiones {
        width: 433px;
    }

    .cont_pais_participantes, .paragraph_proxima_mision {
        margin-bottom: 8px;
    }
}

@media (min-width: 1000px) {
    .card_misiones {
        width: 458px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1020px) {
    .card_misiones {
        width: 468px;
    }
}

@media (min-width: 1040px) {
    .cont_cards_misiones {
        gap: 5px;
    }

    .card_misiones {
        width: 32%;
    }
}

@media (min-width: 1020px) {
    .cont_banner {
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-rows: auto auto;
    }

    .cont_banner_1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .cont_banner_title {
        line-height: 60px;
    }

    .cont_banner_paragraph {
        width: auto;
    }

    .cont_banner_2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .cont_banner_3 {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: auto;
    }

    .cont_cards_misiones {
        gap: 10px;
    }

    .card_misiones {
        width: 310px;
    }
}

@media (min-width: 1050px) {
    .card_misiones {
        width: 325px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 32px;
        padding-right: 32px;
    }

    .paragraph_proxima_mision, .cont_meta_impacto_proxima_mision {
        width: 768px;
    }
}

@media (min-width: 1100px) {
    .cont_banner {
        grid-template-columns: 510px auto;
    }

    .card_misiones {
        width: 335px;
    }
}

@media (min-width: 1130px) {
    .card_misiones {
        width: 345px;
    }
}

@media (min-width: 1160px) {
    .cont_banner {
        grid-template-columns: 510px 530px;
        justify-content: space-between;
    }

    .card_misiones {
        width: 355px;
    }
}

@media (min-width: 1200px) {
    .cont_banner {
        grid-template-columns: 510px 560px;
    }

    .card_misiones {
        width: 370px;
    }
}

@media (min-width: 1250px) {
    .cont_banner {
        grid-template-columns: 550px 580px;
    }

    .card_misiones {
        width: 390px;
    }
}

@media (min-width: 1300px) {
    .cont_banner {
        grid-template-columns: 550px 610px;
    }

    .card_misiones {
        width: 400px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media (min-width: 1350px) {
    .cont_banner {
        grid-template-columns: 550px 650px;
    }

    .cont_cards_misiones {
        justify-content: space-evenly;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 67.2px;
        padding-right: 67.2px;
    }
}

@media (min-width: 1400px) {
    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer, .header_index {
        padding-left: 6%;
        padding-right: 6%;
    }

    .cont_banner {
        grid-template-columns: 550px 600px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 92px;
        padding-right: 92px;
    }
}

@media (min-width: 1450px) {
    .cont_anuncio_proxima_mision {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (min-width: 1500px) {
    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer, .header_index{
        padding-left: 8%;
        padding-right: 8%;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 9%;
        padding-right: 9%;
    }
}

@media (min-width: 1550px) {
    .cont_anuncio_proxima_mision {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 1600px) {
    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer, .header_index {
        padding-left: 11%;
        padding-right: 11%;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media (min-width: 1650px) {
    .cont_anuncio_proxima_mision {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media (min-width: 1700px) {
    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer, .header_index {
        padding-left: 13%;
        padding-right: 13%;
    }

    .cont_banner {
        grid-template-columns: 550px 650px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 14%;
        padding-right: 14%;
    }
}

@media (min-width: 1750px) {
    .cont_anuncio_proxima_mision {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1800px) {
    .cont_banner, .cont_service, .cont_unete, .cont_misiones, .footer, .header_index {
        padding-left: 15%;
        padding-right: 15%;
    }

    .cont_banner {
        grid-template-columns: 550px 650px;
    }

    .cont_anuncio_proxima_mision {
        padding-left: 16%;
        padding-right: 16%;
    }
}