.header_index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: var(--color_blanco);
    padding: 20px 0;
    border-bottom: 1px solid var(--color_bordes);
}

.cont_logo_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 30px;
}

.title {
    font-family: var(--font_play);
    font-size: 20px;
    margin-top: -5px;
}

.icon_barra_menu {
    width: 15px;
}

.cambiar_icon {
    display: none;
}

.nav_desktop {
    display: none;
}

/* NAV MOVIL */
.nav_movil {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid var(--color_bordes);
    position: absolute;
    top: -600%;
    background-color: var(--color_blanco);
}

.abrir_nav_movil {
    top: 100%;
    animation: abrir_nav_movil .7s ease-in-out;
}

@keyframes abrir_nav_movil {
    0% {
        top: -600%;
    } 100% {
        top: 100%;
    }
}

.cerrar_nav_movil {
    top: -600%;
    animation: cerrar_nav_movil .7s ease-in-out;
}

@keyframes cerrar_nav_movil {
    0% {
        top: 100%;
    } 100% {
        top: -600%;
    }
}

.nav_opciones {
    list-style: none;
    font-family: var(--font_inter);
    display: flex;
    flex-direction: column;
}

.option_nav {
    padding: 10px;
}

.option_nav_link {
    text-decoration: none;
    color: var(--color_gris_medio);
    font-weight: 500;
}

.option_nav_language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_nav_selected {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border-radius: 6px;
}

.icon_language {
    width: 21px;
}

.cont_view_combo_language {
    border: 1px solid var(--color_bordes);
    display: inline-block;
    width: 80px;
    padding: 6px 12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont_view_combo_language span {
    font-size: 13px;
}

.icon_arrow_bottom {
    width: 11px;
}

.combo_select_language {
    position: relative;
}

.cont_options_combo_language {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: var(--color_blanco);
    position: absolute;
    width: 150%;
    border: 1px solid var(--color_bordes);
    border-radius: 6px;
    visibility: hidden;
    height: 0;
}

.abrir_combo_language {
    height: 74px;
    visibility: visible;
    animation: abrir_combo_language .1s ease-in-out;
}

@keyframes abrir_combo_language {
    0% {
        visibility: hidden;
        height: 0;
    } 100% {
        height: 74px;
        visibility: visible;
    }
}

.option_combo_language {
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color_gris_medio);
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: var(--color_principal);
        color: var(--color_blanco);
        border-radius: 6px;
    }
}

.option_language_selected {
    width: 12px;
}
/* ----- */
.cont_banner {
    background: var(--color_fondo_banner);
    background: linear-gradient(134deg,rgba(255, 243, 237, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 243, 237, 1) 100%);
}

.cont_banner_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    border-radius: 6px;
    margin: auto;
    font-family: var(--font_inter);
    font-weight: 500;
}

.banner_button_misiones {
    background-color: var(--color_principal);
    color: var(--color_blanco);
    border: 1px solid var(--color_principal);
}

.banner_button_video {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
}

.banner_button img {
    width: 13px;
}

/* section banner 1*/
.cont_banner {
    padding: 150px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cont_banner_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont_banner_title {
    font-family: var(--font_play);
    font-size: 38px;
    line-height: 45px;
}

.cont_banner_title span {
    color: var(--color_principal);
}

.cont_banner_paragraph {
    color: var(--color_gris_medio);
    font-family: var(--font_inter);
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 29px;
    margin-bottom: 20px;
}
/* fin section banner */
/* section banner 2 */
.cont_banner_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 16px;
}

.cont_numbers_data {
    width: 135px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numbers_data {
    font-weight: bold;
    font-family: var(--font_inter);
    color: var(--color_principal);
    font-size: 23px;
}

.name_data {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
}
/* fin section banner 2 */
/* section banner 3 */
.cont_aside_card {
    background-color: var(--color_blanco);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.44);
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top_aside {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_aside {
    width: 35px;
}

.title_aside {
    font-family: var(--font_play);
    font-size: 20px;
}

.title_complete_aside {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-weight: 400;
    font-size: 14px;
}

.text_biblical_aside {
    font-family: var(--font_inter);
    font-style: normal;
    color: var(--color_gris_medio);
    font-size: 17px;
    line-height: 24px;
}

.name_text_biblical_aside {
    font-family: var(--font_inter);
    font-size: 14px;
    text-align: end;
}
/* fin section banner 3 */
/* Cont servimos */
.cont_service {
    background-color: var(--color_claro);
    padding: 50px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title_service {
    font-family: var(--font_play);
    font-size: 30px;
    text-align: center;
}

.paragraph_service { 
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    line-height: 25px;
}

.cont_service_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.service_card {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    gap: 20px;
}

.cont_sc_icon {
    background-color: var(--color_fondo_icons);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon_sc {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.icon_sc_corazon {
    margin-top: 3px;
}

.title_sc {
    font-family: var(--font_play);
    font-size: 19px;
}

.paragraph_sc {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    line-height: 25px;
}
/* fin cont servimos */
/* cont unete */
.cont_unete {
    padding: 60px 15px;
}

.conta_card_unete {
    background-color: var(--color_fondo_banner);
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title_card_unete {
    font-family: var(--font_play);
    font-size: 30px;
    text-align: center;
}

.paragraph_card_unete {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}

.cont_buttons_card_unete {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button_card_unete {
    text-decoration: none;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-family: var(--font_inter);
    font-size: 14px;
    font-weight: 500;
}

.button_card_unete_1 {
    background-color: var(--color_principal);
    color: var(--color_blanco);
}

.button_card_unete_2 {
    background-color: var(--color_blanco);
    border: 1px solid var(--color_bordes);
    color: var(--color_fondo_oscuro);
}
/* fin cont unete */
/* cont misiones */
.cont_misiones {
    background-color: var(--color_claro);
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cont_misiones_title_par {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_misiones {
    font-family: var(--font_play);
    font-size: 32px;
    text-align: center;
}

.paragraph_misiones {
    font-family: var(--font_inter);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px;
    color: var(--color_gris_medio);
}

.cont_cards_misiones {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card_misiones {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    border: 1px solid var(--color_bordes);
    border-radius: 8px;
}

.cont_data_misiones {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title_data_misiones {
    font-family: var(--font_play);
    font-size: 19px;
}

.paragraph_data_misiones {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}

.link_data_misiones {
    text-decoration: none;
    font-family: var(--font_inter);
    color: var(--color_fondo_oscuro);
    border: 2px solid var(--color_bordes);
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    border-radius: 7px;
}

.cont_img_misiones {
    height: 180px;
}

.img_misiones {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.button_misiones_todo {
    background-color: var(--color_principal);
    text-decoration: none;
    color: var(--color_blanco);
    font-family: var(--font_inter);
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    padding: 12px;
    margin: auto;
    border-radius: 8px;
    gap: 15px;
    font-weight: 500;
}

.icon_flecha_ver_misiones {
    width: 13px;
}
/* fin cont misiones */
/* footer */
.line_separador {
    width: 100%;
    height: 1px;
    background-color: var(--color_bordes);
}

.footer {
    background-color: var(--color_claro);
    padding: 50px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cont_footer_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_logo_name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_footer {
    width: 35px;
}

.name_footer {
    font-family: var(--font_play);
    margin-top: -5px;
    font-size: 20px;
}

.paragraph_footer, .paragraph_footer_5 {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 20px;
}

.cont_footer_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title_footer_2, .title_footer_3, .title_footer_4, .title_footer_5 {
    font-family: var(--font_play);
    font-size: 17px;
}

.list_options_footer_2 {
    list-style: none;
    font-family: var(--font_inter);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option_footer_2 {
    color: var(--color_gris_medio);
    text-decoration: none;
}

.cont_footer_3, .cont_footer_4, .cont_fotter_5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email_footer_3 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo_email_footer {
    width: 17px;
}

.direction_email_footer_3 {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-decoration: none;
    font-size: 14px;
}

.icon_face_4, .icon_inst_4 {
    width: 17px;
}

.footer_derechos {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    line-height: 20px;
}

.footer_6 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_hecho {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 14px;
    display: inline-block;
    margin: auto;
}

.icon_corazon_footer {
    width: 15px;
}
/* fin footer */
/* RESPONSIVE DESIGN */
@media (min-width: 380px) {
    .header_index {
        justify-content: space-between;
        /* padding-left: 20px;
        padding-right: 20px; */
    }

    .cont_logo_title {
        margin-left: 20px;
    }

    .icon_barra_menu {
        margin-right: 20px;
    }
}

@media (min-width: 420px) {
    .cont_banner_2 {
        column-gap: 60px;
        margin: 25px 0 20px 0;
    }

    .cont_data_misiones {
        padding-right: 40px;
    }
}

@media (min-width: 450px) {
    .cont_banner_2 {
        column-gap: 80px;
    }

    .cont_data_misiones {
        padding-right: 20px;
    }
}

@media (min-width: 480px) {
    .cont_banner_2 {
        column-gap: 100px;
    }

    .paragraph_service {
        font-size: 17px;
    }
}