.cont_liderazgo_nuestro_equipo, .cont_misioneros_campo, .cont_nuestro_impacto_ne, .cont_palabras_nuestro_equipo_ne, .cont_sientes_llamado_ne {
    padding: 64px 5%;
}

.cont_title_paragraph_liderazgo_ne {
    margin-bottom: 3rem;
}

.title_liderazgo_ne {
    font-family: var(--font_play);
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
}

.paragraph_liderazgo_ne {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    text-align: center;
    line-height: 25px;
}

.card_liderazgo_ne {
    border: 1px solid var(--color_bordes);
    border-radius: 10px;
    position: relative;
}

.cont_cards_liderzago_ne {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cont_img_liderazgo_ne {
    height: 256px;
    position: relative;
    z-index: -1;
}

.foto_liderzago_ne {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.cont_cantidad_misiones_liderazgo_ne {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: var(--color_principal);
    color: var(--color_blanco);
    font-family: var(--font_inter);
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 10px;
}

.cont_contenido_card_liderazgo_ne {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nombre_persona_liderazgo_ne {
    font-size: 20px;
    font-family: var(--font_play);
}

.cargo_persona_liderazgo_ne {
    font-size: 16px;
    font-family: var(--font_inter);
    color: var(--color_principal);
    font-weight: 500;
}

.cont_posicion_icon_liderazgo_ne, .cont_experiencia_icon_liderazgo_ne {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font_inter);
    font-size: 14px;
    color: var(--color_gris_medio);
}

.icon_posicion_liderazgo_ne, .icon_experiencia_liderazgo_ne {
    width: 16px;
}

.cont_habilidades_liderazgo_ne {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.habilidades_liderazgo_ne {
    font-family: var(--font_inter);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    border: 1px solid var(--color_bordes);
    border-radius: 10px;
}

.paragraph_card_liderazgo_ne {
    font-family: var(--font_inter);
    font-size: 14px;
    color: var(--color_gris_medio);
    line-height: 23px;
}

.cont_misioneros_campo {
    background-color: var(--color_claro);
}

.cont_img_misioneros_campo {
    position: initial;
}

.cont_contenido_misioneros_campo_ne {
    background-color: var(--color_blanco);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cont_back_nuestro_impacto_ne {
    background-color: var(--color_fondo_banner2);
    padding: 2rem;
    border-radius: 1rem;
}

.cont_img_item_nuestro_impacto_ne {
    background-color: var(--color_fondo_icons);
    display: inline-block;
    padding: 13px 14px 10px 14px;
    border-radius: 50%;
}

.cont_cards_items_caracteristicas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card_item_nuestro_impacto_ne, .cont_datos_item_nuestro_impacto_ne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.icon_nuestro_impacto_ne {
    width: 30px;
}

.icon_calendario_nuestro_impacto_ne {
    width: 25px;
}

.icon_camara_nuestro_impacto_ne {
    width: 27px;
}

.number_nuestro_impacto_item_ne {
    display: block;
    font-family: var(--font_inter);
    font-weight: 700;
    font-size: 30px;
}

.description_nuestro_impacto_item_ne {
    font-family: var(--font_inter);
    display: block;
    font-size: 14px;
    color: var(--color_gris_medio);
}

.cont_cards_palabras_nuestro_equipo_ne {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card_item_palabras_nuestro_equipo_ne {
    background-color: var(--color_fondo_banner2);
    border: 1px solid var(--color_bordes);
    padding: 24px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    gap: 15px;
}

.icon_cita_palabras_ne {
    width: 40px;
}

.cont_contenido_palabras_perfil_ne {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.palabras_item_ne {
    font-family: var(--font_inter);
    color: var(--color_gris_medio);
    font-size: 16px;
    line-height: 1.625;
}

.cont_perfil_nombre_ne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foto_perfil_palabras_ne {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.cont_nombre_cargo_palabras_ne {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nombre_palabras_ne {
    font-family: var(--font_inter);
    font-size: 16px;
}

.cargo_palabras_ne {
    font-family: var(--font_inter);
    font-size: 14px;
    color: var(--color_gris_medio);
    font-weight: 400;
}

.cont_sientes_llamado_ne {
    background-color: var(--color_claro);
    border-bottom: 1px solid var(--color_bordes);
}

.cont_botones_sientes_llamado_ne {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button_sientes_llamado {
    display: block;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    font-family: var(--font_inter);
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
}

.button_unete_equipo_ene {
    background-color: var(--color_principal);
    color: var(--color_blanco);
}

.button_contactar_liderazgo_ne {
    background-color: var(--color_blanco);
    border:  1px solid var(--color_bordes);
    color: black;
}

.card_misioneros_campo_ne {
    background-color: var(--color_blanco);
}

@media (min-width: 768px) {
    .cont_cards_liderzago_ne {
        flex-direction: row;
    }

    .paragraph_card_liderazgo_ne {
        font-size: 14px;
    }

    .cont_cards_misioneros_campo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card_misioneros_campo_ne1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .card_misioneros_campo_ne2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .card_misioneros_campo_ne3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .card_misioneros_campo_ne4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .card_misioneros_campo_ne5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .card_misioneros_campo_ne6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .cont_cards_items_caracteristicas {
        flex-direction: row;
    }

    .card_item_nuestro_impacto_ne {
        flex: 1;
    }

    .description_nuestro_impacto_item_ne {
        text-align: center;
    }

    .cont_title_paragraph_liderazgo_ne {
        margin-bottom: 32px;
    }

    .cont_cards_palabras_nuestro_equipo_ne {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card_item_palabras_nuestro_equipo_ne1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .card_item_palabras_nuestro_equipo_ne2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .card_item_palabras_nuestro_equipo_ne3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .card_item_palabras_nuestro_equipo_ne4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .cont_botones_sientes_llamado_ne {
        flex-direction: row;
        justify-content: center;
    }

    .button_sientes_llamado {
        width: auto;
        padding: 12px 24px;
    }

    .paragraph_liderazgo_ne {
        width: 652px;
        margin: auto;
    }

    .cont_banner_paragraph_ne {
        width: 718px;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .cont_cards_liderzago_ne {
        width: 896px;
        margin: auto;
    }

    .cont_cards_misioneros_campo {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        width: auto;
    }

    .card_misioneros_campo_ne3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .card_misioneros_campo_ne4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .card_misioneros_campo_ne5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .card_misioneros_campo_ne6 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

@media (min-width: 1350px) {
    .cont_cards_misioneros_campo, .cont_cards_items_caracteristicas, .cont_cards_palabras_nuestro_equipo_ne {
        width: 1216px;
        margin: auto;
    }
}

@media (min-width: 1450px) {
    .cont_back_nuestro_impacto_ne, .cont_cards_palabras_nuestro_equipo_ne {
        width: 1280px;
        margin: auto;
    }
}